#container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#form-wrapper {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px ;
    width: fit-content;
}

.form-input {
    border-radius: 0px;
    color: black;
    background-color: #eeecee;
    border: none;
    padding: 5px;
    margin: 5px;
}

#register-button {
    cursor: pointer;
    background-color: #43a746;
    color: white;
}

.error-message {
    margin: 0;
    font-size: 0.5em;
    color: red;
    text-align: left;
    padding-left: 9px;
}

#registration-status {
    font-size: 0.9em;
    background-color: #3f81dd;
    color: white;
}
