#app-root {
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#navigation-bar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100vw;
}

#links-container {
  display: flex;
  padding: 6px;
}

.navigation-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navigation-link h3 {
  padding: 0px 10px;
}
